/* General
------------------------------------------------------------------------- */

:root{
	--color-1: #D9A036;
	--color-2: #D9D9D9;
	--color-3: #303030;
	--black: #0D0D0D;
	--white: #F2F5F6;

}


*,
*::before,
*::after{ margin: 0; padding: 0; box-sizing: border-box;}

html{font-family: 'Beau Rivage', cursive;}
body{background: url(./grain.png) var(--black); color: var(--color-2);}
h1, h2, h3 {font-family: 'Love Light', cursive; text-align: center; font-weight: 400;}
img{width: 100%; height: auto;}

main{padding-bottom: 12vh}





/* Helpers
------------------------------------------------------------------------- */
.container{width: 86%; margin: 0 auto;}

@media (min-width: 1025px) {
	.container{width: 70%; }
}


/* Header
------------------------------------------------------------------------- */
.header h1{text-indent: -999%;}
.header__media{margin: 5vh 0;}

@media (min-width: 1025px) {
	.header__media{width: 50%; margin: 0 auto;}
}


/* Category
------------------------------------------------------------------------- */
.category__sticky{background-color: var(--color-2); color: var(--black); padding: 2vh 0; position: sticky; top: 0; z-index: 10;}
.category__sticky h2{font-size: clamp(3rem, calc(3rem + 5vw), 6rem);}

.category__food{display: flex; flex-direction: column; gap: 8vh; padding: 12vh 0;}
.category__food h3{font-size: clamp(3rem, calc(3rem + 3vw), 4rem); opacity: 0; visibility: hidden; transform: translateY(50%); transition: 0.4s; transition-delay: 0.2s;}
.category__food h3.in-view{opacity: 1; visibility: visible; transform: translateY(0);}


.food{opacity: 0; visibility: hidden; transform: translateY(50%); transition: 0.4s; transition-delay: 0.2s;}
.food.in-view{opacity: 1; visibility: visible; transform: translateY(0);}

.food__header{display: flex; justify-content: space-between; margin-bottom: 0.5rem; }
.food__header__title h4 {font-size: clamp(1.5rem, calc(1.5rem + 1vw), 3rem); font-weight: 400; color: var(--color-1);}
.food__header__title{  width: 60%;}


.food__header__price{display: flex; align-items: center; }
.food__header__price span{display: block; font-size: clamp(1rem, calc(1rem + 1vw), 1.8rem);}

.food__description p{text-align: justify; font-size: clamp(1rem, calc(1rem + 1vw), 1.8rem); line-height: 1.5;}



@media (min-width: 1025px) {
	.category__sticky{ position: relative;}
	.category__food h3{margin: 5vw 0;}
	.food{ margin-bottom: 5vw;} 
}

.category__sticky::before{content: ''; width: 100%; height: 100%; background: url(./grain.png) var(--black); z-index: 10; position: absolute; top: 0; right: 0; transition: 0.8s ease; }
.category__sticky.in-view::before{width: 0; transition-delay: 0.4s;}



/* Menu
------------------------------------------------------------------------- */
.menu{position: fixed; bottom: 0; left: 0; width: 100%; background-color: var(--color-2); color: var(--black);  z-index: 100;}
.menu .container{display: flex; justify-content: space-between; }

.menu__item{position: relative; text-align: center; display: flex; justify-content: center; align-items:center; width: 20%; aspect-ratio: 1; cursor: pointer; max-width: 5rem;}


.menu__item__title{font-family: 'Montserrat', sans-serif; position: absolute; opacity: 1; transition: 0.4s; text-transform: uppercase; opacity: 0; font-size: clamp(0.7rem, calc(0.7rem + 0.5vw), 2rem); font-weight: 400;}
.menu__item__icon{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; transition: 0.4s; border-radius: 50%;}
.menu__item__icon i{font-size: clamp(1.2rem, calc(1.2rem + 1vw), 3rem)}

.menu__item--active .menu__item__title{ opacity: 1; transition: 0.4s; transform: translateY(100%); transition: 0.4s;}
.menu__item--active .menu__item__icon{background-color: var(--color-1); color: var(--white);  border: 5px solid var(--black); transform: translateY(-50%); }

.menu__item--active .menu__item__title{ opacity: 1; transition: 0.4s; transform: translateY(100%); transition: 0.4s;}
.menu__item--active .menu__item__icon{background-color: var(--color-1); color: var(--white);  border: 5px solid var(--black); transform: translateY(-50%); }



